<div id="home">
  <div class="page-title"><h1>HTHS Splash</h1></div>
  <h4>Some kind of tagline here</h4>

  <div class="section">
    <div class="section-title"><h2>Welcome</h2></div>
    <div class="section-body">
      <p>askjdf;laksjdf;askdjf; a;lsdjkfa;ls df;laskdj f;alkdjf ;alskdjf;laskjd f;laskjd ;laksjd f;laskjdf ;laskdjf ;laskjdf;laskjd f;laskjdf ;laskdjf;la skdj;laskdjf ;laskjd f;laskjdf ;laskjdf ;alskjd f;laskjdf ;laskdjf ;laskjdf ;laskdjf ;laskjd ;lasdkjf ;laskdj ;laskdjf ;laskdj f;laskdjf ;laksjdf ;laksjdf ;laskjd f;laksdj f;laskjdf ;laksjd f;laskjd f;laskjdf ;laksjdf;lkjasd;lfkjasd;lfk jas</p>
    </div>
  </div>

  <div class="section">
    <div class="section-title"><h2>Event Details</h2></div>
    <div class="section-body">
      <p>jsaldfa;skdjf;aksdjf</p>
      <p>jsaldfa;skdjf;aksdjf</p>
      <p>jsaldfa;skdjf;aksdjf</p>
      <p>jsaldfa;skdjf;aksdjf</p>
    </div>
  </div>
  <% unless user_signed_in? %>
    <br />
    <%= button_to "Sign In / Register", new_user_session_path, class: "btn btn-primary", :method => :get %>
  <% else %>
    <div class="section">
      <div class="section-title"><h2>My Courses</h2></div>
      <div class="section-body">
        <div class="col-sm-6">
          <% if @courses and @courses.length > 0 %>
            <table>
              <tr>
                <th>Title</th>
                <th>Teacher</th>
                <th>Description</th>
                <th>Room</th>
                <th>Time</th>
              </tr>
              <% @courses.each do |course| %>
                <tr data-link="<%= course_path(course)%>">
                  <td><%= course.name %></td>
                  <td><%= course.teacher %></td>
                  <td><%= truncate(course.desc, length: 100) %></td>
                  <td nowrap><%= course.room %></td>
                  <td nowrap><%= course.time.stamp('1:52 PM') %></td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p>You don't have for any courses yet! :(</p>
            <p><%= link_to('Click here to register!', courses_path) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>