<div id="courses-index">
  <div class="row">
  <div class="page-title col-xs-9"><h1>Available Courses</h1></div>
  <div class="col-xs-3"><%= button_to 'Register Here!', register_path, class: "btn btn-primary pull-right", :method => :get %></div>
  </div>
  </div>
  <table>
    <tr>
      <th>Title</th>
      <th>Student Instructor</th>
      <th>Grade</th>
      <th>Description</th>
      <th>Room</th>
    </tr>
    <% @courses.each do |course| %>
      <tr data-link="<%= course_path(course)%>">
        <td><%= course.name %></td>
        <td><%= course.teacher %></td>
        <td><%= course.grade %></td>
        <td><%= truncate(course.desc, length: 300) %></td>
        <td nowrap><%= course.room %></td>
      </tr>
    <% end %>
  </table>
</div>