<div class="page-title"><h1><%= @course.name %> &#8212; <%= @course.time.stamp('1:52 PM') %> @ Room <%= @course.room %></h1></div>
<div class="section">
  <div class="section-title"><h3>Course Information</h3></div>
  <div class="section-body">
    <p>Recommended Grade Level: <%= @course.grade %></p>
    <p><%= @course.desc %></p>
  </div>
  <div class="section-title"><h3>Teacher Information</h3></div>
  <div class="section-body">
    <p>Teacher: <%= @course.teacher %></p>
    <p><%= @course.teacher_desc %></p>
  </div>
</div>
<div class="section">
  <div class="section-title"><h3><%= pluralize(@course.users.length, 'Student') %> </h3></div>
  <div class="section-body">
    <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <% @course.users.each do |user| %>
          <tr data-link="<%= admin_user_path(user)%>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>